:root{
    --primary: #c2cccc;
    --secondary: #7A9E9F;
    --tertiary: #374a4a;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}
h2{
    margin: 20px;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    color: black;
    text-align: center;
    background-image: linear-gradient(45deg, #c2cccc 0%, #7A9E9F 52%, #374a4a 90%);
    background-size: cover;
    padding: 10px 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.sidebar {
    color: black;
}

.brand-title, .brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

/*Form starts here*/
form{
    border-bottom: 2px solid;
    margin-bottom: 25px;
    padding: 2.5%;
}
.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
    display: block;
  }


  .btn{
    font-size: 1.3rem;
    text-decoration:none;
    padding: 3%;
    width: 100%;
    display: block;
    margin: 5px 0;
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--secondary);
    transform: translate(-1px, -1px);
  }
  .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--secondary);
  }

/*Form ends here*/  


.quotes {
    background: var(--tertiary);
    color: white;
    font-style: italic;
    padding:200px;
    font-size: 30px;
    text-align: center;
    margin: auto;
 
}
.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.word-card{
    border: 2px solid var(--tertiary);
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
    color: black;
    text-align: center;
    background-image: linear-gradient(45deg, #c2cccc 0%, #c2cccc 60%, #374a4a 90%);
    background-size: cover;
    padding: 25px 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
    }
    form{
    border-bottom: 2px solid;
    margin-bottom: 25px;
    padding: 2.5%;
}
.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
    display: block;
  }
    .quotes {
        background: var(--tertiary);
        color: white;
        font-style: italic;
        padding:200px;
        font-size: 30px;
        text-align: center;
        margin: auto;
    }
    .btn-history{
        font-size: 1.3rem;
        text-decoration:none;
        padding: 6px 5px;
        width: 100%;
        display: block;
        margin: 5px 0;
        border-radius: var(--border-radius);
        color: var(--primary);
        border: none;
        outline: none;
        background-color: gray;
        transform: translate(-1px, -1px);
      }
      .btn-history:hover{
        color: var(--primary);
        background-color: var(--tertiary);
        transform: translate(0, 0);
        box-shadow: 2px 2px var(--secondary);
      }
    .word-info{
        background: var(--secondary);
        margin-bottom: 10px;
        text-align: center;
        text-decoration: none;
        font-size: 1.3rem;
        padding: 6px 5px;
        border: white solid; 
        height: 200px
    }

    .sidebar {
        position: flex;
        top: 0;
        height: 800px;
    }

    .footer {
        text-align: center;
    }